# Copy this file to .env.local and fill in your credentials

SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
NEXT_PUBLIC_SQUARE_APP_ID=
NEXT_PUBLIC_SQUARE_LOCATION_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
